@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SignIn">
			<div asp-validation-summary="ModelOnly"></div>
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text mb-2" asp-for="Password" placeholder="Password" required="">
			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="RememberMe" class="checkbox" required="">
					<span>Remember Me?</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
			<!-- Divider with OR -->
			<div class="divider">
				<hr class="divider-line">
				<span class="divider-text">OR</span>
				<hr class="divider-line">
			</div>

			<!-- Google Login Button -->
			<a asp-action="GoogleLogin" class="google-login-btn mb-2">
				<i class="fab fa-google"></i> Log in with Google
			</a>
		</form>
		<p>If You Don't have an Account. <a asp-action="SignUp"> Register Now!</a></p>
	</div>
</div>

@section ValidationScripts {
	<partial name="_ValidationScriptsPartial" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
}

